@model Web.Models.ViewedPost

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ViewedPost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnnouncementId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnouncementId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ViewedId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
